<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
    <title>E-mail List</title>
</head>
<body>
    <div id="app">
        <div v-if="mailArray.length  > 9">
            <ul>
                <li v-for="address in mailArray">{{address}}</li>
            </ul>
        </div>
        <div v-else=>Loading...</div>
    </div>
    <script src="main.js"></script>
</body>
</html>